header
  .container
    nav
      .logo
        h1
          | dreamshare
      .authorization
        a(href='#')  Log in 
        a(href='#') Sigh up
    .headerTitle
      h1
        | Share your 
        br
        |  holiday dream
      p
        | And find the perfect partner to fullfill it
      a(href='#') Find your holiday partner